@keyframes down {
  0% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(0%);
  }
}

// @keyframes show {
//   0% {
//     color: rgba(255, 255, 255, 0);
//   }
//   100% {
//     color: rgba(255, 255, 255, 1);
//   }
// }

* {
  margin: 0;
  padding: 0;
}

// body {
//   background-color: #141414;
//   color: white;
// }

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 5vh auto;
}

.motivRectangle {
  float: left;
  width: 500px;
  height: 500px;
  font-family: "Gabriela";
  shape-outside: polygon(310px 0, 130px 405px, 558px 405px);
  padding-right: 60px;
}

h1,
p {
  // color: rgba(255, 255, 255, 0);
  color: black;
  animation: show 0.5s forwards;
}

h1 {
  font-family: "Gabriela";
  animation-delay: 2.5s;
}
p {
  padding-top: 1em;
}
p:nth-of-type(1) {
  animation-delay: 3s;
}
p:nth-of-type(2) {
  animation-delay: 3.4s;
}
p:nth-of-type(3) {
  animation-delay: 3.8s;
}
p:nth-of-type(4) {
  animation-delay: 4.2s;
}

@supports not (shape-outside: polygon(310px 0, 130px 405px, 558px 405px)) {
  p {
    position: relative;
    float: right;
  }
  p:nth-of-type(1) {
    width: 540px;
    left: -170px;
  }
  p:nth-of-type(2) {
    width: 520px;
    left: -140px;
  }
  p:nth-of-type(3) {
    width: 500px;
    left: -110px;
  }
  p:nth-of-type(4) {
    width: 480px;
    left: -90px;
  }
}

.correct {
  background-color: #41dd65 !important;
}

.false {
  background-color: #ff4848 !important;
}
