#workspaceDescription {

    //TODO: REPLACE with Button in TopMenuBar
    display: none;

    width: 95vw;
    margin-top: 1.25rem;
    margin-left: 1.75rem;
    
    max-height: 90%;
    overflow-y: auto;
}