body {
    overflow-x: hidden !important;
}

#workspace_div {
    height: 90vh;
}
.workspace__container {
    width: 100%;
    margin-top: 1.5rem;
    height: 100%;
}

#workspaceStepper {
    margin-top: 1rem;
}

#solveTask {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: -0.5rem;
    background-color: $buttonBgColorLight;
    color: $buttonTxColor;
}

#app {
    height: 100% !important;
}

.text ~ .icon {
    color: white;
}

#stepperModalIcon {
    position: absolute;
    top: 9vh;
    right: 0vw;
    font-size: 0.6rem;
}

#workspaceGrid {
    margin-right: 0rem;
    display: flex;
    height:inherit;
}

#workspaceGridMobile {
    max-height: 30%;
}
#workspaceGridMobileContent {
    width: 100% !important;
    margin-left: 1rem;
    flex-grow: 1;
}

