.progressBar-item {
  margin: 6px auto 0px 12px;
  width: 140px;
  height: 40px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 12px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;

  transition: 0.2s;
}

.progressBar-item-status {
  width: 10px;
  height: 10px;
  min-width: 10px;;
  min-height: 10px;

  margin-left: 8px;
  border-radius: 12px;
}

.progressBar-item-highlighted {
  margin: 6px auto 0px 12px;
  width: 140px;
  height: 40px;
  background: #6a96e2;
  cursor: pointer;

  color: white;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 12px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;

  transition: 0.2s;
}

.progressBar-item-hover {
  margin: 6px auto 0px 12px;
  width: 140px;
  height: 40px;
  cursor: pointer;

  box-shadow: 0px 2px 4px #00000029;
  border-radius: 12px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;

  background-color: #6a96e2;
  color: #ffffff;
}

.progressBar-item-hover-tasks {
  margin: 6px auto 0px 12px;
  width: 490px;
  height: 40px;
  background-color: #6a96e2;
  cursor: pointer;
  
  color: #ffffff;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 12px;
  opacity: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 100;

  transition: width 0.2s ease-in;
}

.progressBar-content :first-child {
  margin-top: 0px;
}

.progressBar-item-name {
  font-size: 12px;
  font-weight: bold;
  margin-left: 6px;
  width: 90%;
}

.progressBar-item-icon {
  margin-right: 5px;
}

.progressBar-sub-items {
  position: absolute;
  float: right;
  background-color: white;

  padding-top: 12px;
  margin-left: 172px;

  height: auto;
  z-index: 100;
}
