.progress-bar-sub-item:first-child() {
  margin-top: 24px !important;
}

.progress-bar-sub-item {
  margin-top: 12px;
  width: 330px;
  height: 40px;

  background: #ffffff;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 12px;
  opacity: 1;

  display: flex;
}

.progress-bar-sub-item-highlighted {
  margin-top: 12px;
  width: 330px;
  height: 40px;

  background: #6a96e2;
  color: white;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 12px;
  opacity: 1;

  display: flex;
}

.progress-bar-sub-item-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px !important;

  text-align: center;
  font-size: 12px/15px;

  line-height: 40px;
  vertical-align: middle;
  vertical-align: middle;

  background-color: #6a96e2;
  border-radius: 44px;

  align-items: center;
  justify-content: center;
  display: flex;
}

.progress-bar-sub-item-icon-highlighted {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px !important;

  text-align: center;
  font-size: 12px/15px;

  line-height: 40px;
  vertical-align: middle;
  vertical-align: middle;

  background-color: white;
  border-radius: 44px;

  align-items: center;
  justify-content: center;
  display: flex;
}

.progress-bar-sub-item-text {
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Lato";
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  hyphens: auto;

  vertical-align: middle;
}
