.progressBar-item {
  margin: 6px auto 0px 12px;
  width: 140px;
  height: 40px;

  background: #FFFFFF;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 12px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;

  transition: 0.2s;
}

.progressBar-item-hover{
  margin: 6px auto 0px 12px;
  width: 140px;
  height: 40px;

  box-shadow: 0px 2px 4px #00000029;
  border-radius: 12px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;

  background-color: #6A96E2;
  color: #FFFFFF;
}

.progressBar-item-hover-tasks{
  margin: 6px auto 0px 12px;
  height: 40px;

  box-shadow: 0px 2px 4px #00000029;
  border-radius: 12px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #6A96E2;
  color: #FFFFFF;

  z-index: 100;
  
  width: 490px;
  transition: width 0.2s ease-in; 
}


.progressBar-content :first-child {
  margin-top: 0px;
}

.progressBar-item-name {
  font-size: 12px;
  font-weight: bold;
  margin-left: 6px;

  width:90%;
}

.progressBar-content :first-child .progressBar-item-name {
  margin-left: -4px;
}

.progressBar-sub-items{
  position: absolute;
  float: right;

  padding-top: 12px;
  margin-left: 192px;

  height: auto;
  z-index: 100;
}