/*
 *   In this file all of our colors used in our scss are defined
 */

// Button Background Color
$buttonBgColor: rgb(143, 176, 232);
// Button Text Color
$buttonTxColor: #ffffff;

// Disabled Button Backgound Color
$buttonBgColorDisabled: rgb(186, 219, 255);
