.cls-1 {
  isolation: isolate;
}
.cls-2 {
  fill: #929081;
}
.cls-2,
.cls-6,
.cls-7,
.cls-8 {
  opacity: 0.58;
}
.cls-3 {
  fill: #92cfcb;
}
.cls-3,
.cls-4,
.cls-43,
.cls-5,
.cls-88 {
  opacity: 0.5;
}
.cls-4 {
  fill: #9fd5da;
}
.cls-112,
.cls-12,
.cls-13,
.cls-53,
.cls-6 {
  fill: #fff;
  visibility: hidden;
}
.cls-6,
.cls-7 {
  stroke: #929081;
}
.cls-10,
.cls-11,
.cls-6,
.cls-7 {
  stroke-miterlimit: 10;
}
.cls-10,
.cls-6,
.cls-7 {
  stroke-width: 5.45px;
}
.cls-10,
.cls-69,
.cls-7 {
  fill: none;
}
.cls-8 {
  fill: #78766b;
}
.cls-9 {
  fill: #fdedcb;
}
.cls-10 {
  stroke: #d3a879;
}
.cls-11 {
  fill: #7cae8f;
  stroke: #e1be8c;
  stroke-width: 7.26px;
}
.cls-12 {
  font-size: 14.99px;
  font-family: RightChalk, Right Chalk;
}
.cls-14 {
  fill: #d62c22;
  fill-rule: evenodd;
}
.cls-15 {
  fill: #154f3e;
}
.cls-16 {
  fill: #621120;
}
.cls-17 {
  fill: #d3a879;
}
.cls-18 {
  fill: #e0bd8c;
}
.cls-19 {
  fill: #dfc9ae;
}
.cls-20 {
  fill: #bb835d;
}
.cls-21,
.cls-22 {
  fill: #c88c64;
}
.cls-22,
.cls-42,
.cls-45,
.cls-81 {
  opacity: 0.3;
}
.cls-22,
.cls-42,
.cls-43,
.cls-45,
.cls-81,
.cls-87,
.cls-88,
.cls-92,
.cls-94,
.cls-96 {
  mix-blend-mode: multiply;
}
.cls-23 {
  fill: #cfe9f2;
}
.cls-24 {
  fill: #769644;
}
.cls-25 {
  fill: #96a23f;
}
.cls-26 {
  fill: #f39337;
}
.cls-27 {
  fill: #ed7232;
}
.cls-28 {
  fill: #0090bf;
}
.cls-29 {
  fill: #e3e4e3;
}
.cls-30 {
  fill: #6f6863;
}
.cls-31 {
  fill: #e4222f;
}
.cls-32 {
  fill: #6385bb;
}
.cls-33 {
  fill: #96c356;
}
.cls-34 {
  fill: #e95738;
}
.cls-35 {
  fill: #3a547a;
}
.cls-36 {
  fill: #f08b76;
}
.cls-37 {
  fill: #f8b133;
}
.cls-38 {
  fill: #1d1d1b;
}
.cls-39 {
  opacity: 0.85;
}
.cls-40 {
  fill: #35a8e0;
}
.cls-41,
.cls-42 {
  fill: #574741;
}
.cls-44 {
  fill: #f2d995;
}
.cls-45 {
  fill: #c6882e;
}
.cls-46 {
  fill: #8c7475;
}
.cls-47 {
  fill: #745c5c;
  opacity: 0.6;
}
.cls-48 {
  fill: #682b13;
}
.cls-49 {
  fill: #f1bb97;
}
.cls-50 {
  fill: #e38551;
}
.cls-50,
.cls-51,
.cls-54,
.cls-55 {
  opacity: 0.8;
}
.cls-51,
.cls-63 {
  fill: #eea37d;
}
.cls-52 {
  fill: #7c6765;
}
.cls-53 {
  opacity: 0.2;
}
.cls-54 {
  fill: #786161;
}
.cls-55 {
  fill: #675052;
}
.cls-56 {
  fill: #441616;
}
.cls-57 {
  fill: #eda67f;
}
.cls-58 {
  fill: #e5645c;
}
.cls-59 {
  fill: #a02d2f;
}
.cls-60 {
  fill: #e5796a;
}
.cls-61 {
  fill: #e57a69;
}
.cls-62 {
  fill: #a63032;
}
.cls-64 {
  fill: #c66941;
}
.cls-65 {
  fill: #eea37f;
}
.cls-66 {
  fill: #1d1e1c;
}
.cls-67 {
  fill: #ecabab;
}
.cls-68 {
  fill: #264280;
}
.cls-70 {
  fill: #9ba1d0;
  opacity: 0.55;
}
.cls-71 {
  fill: #22264b;
}
.cls-72 {
  fill: #8e5a57;
}
.cls-73 {
  fill: #9f5948;
}
.cls-74 {
  fill: #643024;
}
.cls-75 {
  fill: #f7b98d;
}
.cls-76 {
  fill: #312012;
}
.cls-77 {
  fill: #3e3128;
}
.cls-78 {
  fill: #4f3221;
}
.cls-79 {
  fill: #442a19;
}
.cls-80,
.cls-81 {
  fill: #78694f;
}
.cls-82 {
  fill: #ecf6f8;
}
.cls-83 {
  fill: #a86c4a;
}
.cls-84 {
  fill: #8a5837;
}
.cls-85,
.cls-88,
.cls-96 {
  fill: #ae7650;
}
.cls-86 {
  fill: #885132;
}
.cls-87 {
  fill: #a76a41;
}
.cls-87,
.cls-92,
.cls-96 {
  opacity: 0.32;
}
.cls-89 {
  fill: #7f4125;
}
.cls-90 {
  fill: #683f34;
}
.cls-91 {
  fill: #986345;
}
.cls-92 {
  fill: #6f3c25;
}
.cls-93 {
  fill: #ca8d66;
}
.cls-94 {
  fill: #b68c66;
  opacity: 0.65;
}
.cls-95 {
  fill: #bd8062;
}
.cls-97 {
  fill: #cc926e;
}
.cls-98 {
  fill: #a76f49;
}
.cls-99 {
  fill: #b4805d;
}
.cls-100 {
  fill: #c38a67;
}
.cls-101 {
  fill: #a76844;
}
.cls-102 {
  fill: #ddcacb;
}
.cls-103 {
  fill: #8f5636;
}
.cls-104 {
  fill: #808080;
}
.cls-105 {
  fill: #a9a9a9;
}
.cls-106 {
  fill: #c3e4ed;
}
.cls-107 {
  fill: #def0f5;
}
.cls-108 {
  fill: #f29405;
}
.cls-109 {
  fill: #fdd892;
}
.cls-110 {
  fill: #fccc73;
}
.cls-111 {
  fill: #f9b333;
}
.cls-112 {
  opacity: 0.86;
}
.cls-113 {
  font-size: 18.16px;
  fill: #6f6f6e;
  font-family: Roboto-Bold, Roboto;
  visibility: hidden;
}
.cls-114 {
  font-weight: 700;
}
.cls-115 {
  font-size: 14.53px;
  font-family: Roboto-Regular, Roboto;
}
