#ImageContent {
  padding: 2.5rem;
}
#IntroTrainingText {
  margin-bottom: 1em !important;
  font-weight: bold;
  color: rgb(106, 150, 226);
}

#ModalActions {
  background-color: white;
  border-top: 0px;
}
