.badgeSize {
  max-width: 6rem;
}

.yourCityWrapper{
  margin-top: $topMargin;
}

.negDiv{
  display:flex;
  justify-content: center;
  align-items:center;
}

.teacherCompanyPtag {
  padding: 0;
  margin: 0.85em !important;
  margin-left: 0.25em;
  margin-right: 0.25em;

}

.ui.active.indicating.progress > div {
  border-radius: 0.28571429rem 0.28571429rem 0 0;
}

.progressBarLinks > div {
  float:left;
}

.widthFill{
 width: -webkit-fill-available !important;
}

.heightt{
  height:100vh;
}
