#prevTaskBtn {
  background: rgb(106, 150, 226);
  color: white;
}

#nextTaskBtn {
  background: rgb(106, 150, 226);
  color: white;
}

#prevBtn {
  color: white;
  background-color: rgb(106, 150, 226) !important;
  margin-right: 2rem;
  padding: 1rem !important;
  border-radius: 5px;
}

#nextBtn {
  color: white;
  background-color: rgb(106, 150, 226) !important;
  margin-right: 2rem;
  padding: 1rem !important;
  border-radius: 5px;
}

#viewBtn {
  background-color: rgb(143, 176, 232) !important;
  color: white;
  border-radius: 5px;
}

#positivBtn {
  border-radius: 5px;
}
