.text {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.text ~ .icon {
  color: white;
}
.text_color {
  color: white;
}
.text_color_new_red {
  color: rgba(241, 83, 59, 0.8);
}
.text_color_new_green {
  color: rgba(102, 171, 140, 0.8);
}
.text_color_new_black {
  color: rgba(0, 0, 0, 0.8);
}
.text_color_purple {
  color: #9975b9;
}
.text_color_new_blue {
  color: rgba(112, 128, 144, 0.8);
}
.text_colorgrau {
  color: white;
  padding-bottom: 0.5em;
}

.text_color2 {
  color: $blue;
}

.text_color3 {
  color: white;
}

.text_color4 {
  color: #ffffff;
}

.text_color5 {
  color: #d9d3d9;
}

.text_color6 {
  color: white;
}

.text_color7 {
  color: #bcbcbc;
}

.text_color7_wh {
  color: #bcbcbc;
}

.text_color8 {
  color: #000;
}

.text_colorW {
  color: #ffffff;
}

.text_colorb {
  color: #708090;
}
.text_color9 {
  color: #000;
  font-size: 1.8em;
}

.text_in_header {
  display: flex;
  align-items: center;
  margin-left: 2em;
  color: white;
  font-weight: bold;
}
.text_font {
  font-size: 1.2rem;
  font-weight: 700;
}
.text_font_nur_size {
  font-size: 1vw;
  padding: 0.5em;
}
.text_font_2em {
  font-size: 2em !important;
  margin-left: 0.2em !important;
}

.text_color:active {
  color: $green;
}

.text_colorgrau:hover {
  box-shadow: 0 -4px 0px -2px #ffffff inset !important;
  color: #ffffff;
  transition: 0.4s;
}

.text_color2:hover {
  color: $green;
}

.text_color3:hover {
  color: $red;
}

.text_color7:hover {
  color: white;
}

.text_font_standard {
  font-size: 1.2em;
  font-weight: bold;
}

.text_color_grey {
  color: #d3d3d3;
}

.header1Margin {
  margin: 0.5em !important;
  color: #3b4656;
}

.bigFontSize {
  font-size: 2.5vh;
}

.CodeMirror {
  font-size: 150%;
}

.ck-editor__editable {
  min-height: 20vw;
}
