.ui.form .field > label.whiteInputLabel {
  color: white;
}

.ui.checkbox label.whiteInputLabel {
  color: white;
}

.ui.checkbox input:focus ~ label.whiteInputLabel {
  color: white;
}

.checkboxCenter {
  display: flex;
  flex-direction: column;
}

.quarterInput {
  width: 25vw;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-top: 2vh;
}

.inputCaptcha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.captchaSize {
  height: 10vw;
  width: 10vw;
}

.acceptButton > .ui.button {
  background-color: #66ab8c;
  color: #f2eee2;
}
.acceptButton {
  text-align: center;
}

.captchaMessage {
  width: 10vw;
  text-align: center;
  color: white;
}

.notVerifiedMessage {
  width: 60vw;
  margin: 1vh auto;
  text-align: center;
}

.inputModal {
  width: 30vw;
  margin: auto;
  padding: 10vh 0;
}

.centeredInputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
