.top-menu {
  width: 100vw;
  height: 52px;
  background-color: #6F94CC;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.top-menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-menu a:hover {
  background-color: #5F84BC;
  cursor: pointer;
}

.logo-container {
  position: absolute;
  left: 20px;
}

.logout-container {
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-container:hover {
  background-color: #5F84BC;
  cursor: pointer;
}