/* General workpace css */
#workspaceGrid {
  width: 1080px !important;
  height: 800px !important;
  padding-top: 0;
  margin: auto;
}

.workspace-container {
  margin-top: 162px;
  height: 502px;
  margin-bottom: 31px;
}

/* css for texts */
.text-workspace {
  border: 6px solid #F6F6F5;
  border-radius: 44px;
  opacity: 1;
  padding-left: 21px;
  height: 100%;
}

.workspace-text-title {
  text-align: left;
  font: normal normal 900 20px/24px Arial;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 23px;
  margin-bottom: 26px;
}

/* css for tasks */
.workspace-task-title-container {
  height: 80px;
  background: #F6F6F5 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
  border-radius: 44px;

  display: flex;
  align-items: center;
}

.workspace-task-title {
  width: 100%;
  text-align: left;
  font: normal normal 900 20px/24px Arial;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 27px;

  flex: 0 0 100%;
}

.workspace-task-container {
  height: 400px;
  margin-top:20px;

  background: #F6F6F5 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
  border-radius: 44px;

}

.workspace-drag-container {
  height: 400px;
  margin-top:20px;
}


/* css for navigation */
.workspace-navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-button {
  width: 241px;
  height: 31px;

  background: #F6F6F5 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
  border-color: #FFFFFF00;
  border-radius: 12px;
  margin-bottom: 12px;
}

.navigation-button:hover {
  color: white;
  background: #6A96E2 0% 0% no-repeat padding-box;
  border-color: #6A96E2;
}

.navigation-button img { 
  vertical-align: middle;
}

#navigation-button-submit {
  width: 600px;
  margin-left: 12px;
  margin-right: 12px;
  font: normal normal 900 20px/30px Arial;
}

