.workspace__container {
  height: 85vh;
  margin: 0 auto;
  margin-top: 66px;
}
#workspaceGrid {
  justify-content: center;
}
#defTextReader {
  height: 85vh;
  max-width: 100%;
  white-space: pre-line;
  overflow-y: auto;
}

#dragDrop {
  margin: 0 auto;
  color: white;
  border-radius: 5px;
  background-color: #6a96e2;
}

// Smartphone
@media screen and (max-width: 767px) {
  .workspace__container {
    width: 100%;
    height: 75vh;
  }

  #defTextReader {
    width: 100%;
    height: 75vh;
  }

  #NavigationButtonContainer {
    text-align: center;
    margin-top: 0.5rem;
  }
  #prevButton {
    width: 85%;
    margin-bottom: -1rem;
    margin-top: 0.5rem;
  }

  #nextButton {
    width: 85%;
    margin-top: -2rem;
  }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .workspace__container {
    width: 60%;
  }

  #NavigationButtonContainer {
    text-align: center;
    margin-top: 0.5rem;
  }
}

// Desktop
@media screen and (min-width: 1025px) {
  .workspace__container {
    width: 100%;
  }

  #NavigationButtonContainer {
    margin-top: 0.5rem;
    width: 40% !important;
    margin: 0 auto;
  }
  #prevButton {
  }

  #nextButton {
  }

  #workspaceStepper {
    margin-top: 60px;
  }
  #workspaceDescription {
    width: 10%;
    margin-top: 60px;
    margin-left: 5%;
    max-height: 700px;
    position: fixed;
  }
}
