#gameOverView {
  margin-top: 4rem;
}
#Ebene_1 {
  margin-top: 4rem;
}
.workspace__container {
  height: 85vh;
  margin: 0 auto;
  margin-top: 66px;
}
#workspaceGrid {
  justify-content: center;
  overflow-x: auto;
  width: 100%;
}

#defTextReader {
  height: 85vh;
  max-width: 100%;
  white-space: pre-line;
  overflow-y: auto;
}
#dragDrop {
  margin: 0 auto;
  color: white;
  border-radius: 5px;
  background-color: #6a96e2;
}

.keyword-grid {
  display: flex;
}

#stepperModalIcon {
  position: absolute;
  top: 9vh;
  right: 1vh;
  font-size: 0.6rem;
}

#stepperModalCloseIcon {
  top: -18vh !important;
}
#app {
  height: 100% !important;
}
// Smartphone
@media screen and (max-width: 767px) {
  #workspaceGridMobile {
    width: 87.5% !important;
  }
  .workspace__container {
    width: 100%;
    height: 40vh;
    margin: 0rem;
  }
  .MuiPaper-root {
    transform: scale(1.5);
    margin-left: 30vw;
    background-color: transparent !important;
  }

  .MuiStepLabel-label {
    color: rgba(255, 255, 255, 1) !important;
  }

  #workspaceGrid {
    margin-top: 1rem;
  }
  #workspaceDescription {
    margin-top: 1rem;
  }
  #defTextReader {
    width: 100%;
    height: 45vh;
  }
  .ui.menu .item:before {
    background: none;
  }
  .text ~ .icon {
    color: white;
  }
  .ui.menu .ui.dropdown .menu > .item {
    color: white !important;
    text-align: center;
    padding-bottom: 2rem !important;
    font-size: 1.5rem !important;
  }
  #NavigationButtonContainer {
    text-align: center;
    margin-top: 0.5rem;
  }
  .keyword-grid-row {
    margin-right: 1rem !important;
    margin-bottom: 0.25rem;
  }
  #KeywordListBtn {
    margin-top: 20px;
    margin-right: -14px;
    max-width: 230px;
  }
  #Ebene_1 {
    width: 160%;
    margin-top: 5rem;
    margin-left: -7.85rem;
  }
  .MuiStepper-root {
    padding: 0rem !important;
  }
  #countdown-svg {
    margin-top: 18rem;
  }
  #renderNavigationButtons {
    position: absolute;
    bottom: 0px;
  }
  #solveTask {
    background-color: rgb(143, 176, 232);
    color: white;
  }
  #Ebene_0 {
    transform: scale(1, 1);
    transition: 1s;

    &:hover {
      // transform: scale(1.5, 1.5);
    }
  }
  #Ebene_1 {
    transform: scale(1, 1);
    transition: 1s;

    &:hover {
      // transform: scale(1.5, 1.5);
    }
  }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #app {
    height: 100% !important;
  }
  .workspace__container {
    // width: 60%;
    width: 100%;
    margin-top: 3rem;
    height: 100vh;
  }
  #workspaceDescription {
    margin-top: 4rem;
  }
  #NavigationButtonContainer {
    text-align: center;
    margin-top: 0.5rem;
  }
  #KeywordListBtn {
    margin-top: 25px;
    margin-right: -7.6%;
    max-width: 230px;
  }
  #renderNavigationButtons {
    position: absolute;
    bottom: 0px;
    text-align: center;
  }
  .ui.menu .item:before {
    background: none;
  }
  .text ~ .icon {
    color: white;
  }
  .ui.menu .ui.dropdown .menu > .item {
    color: white !important;
    text-align: center;
    padding-bottom: 2rem !important;
    font-size: 1.5rem !important;
  }
  .MuiStepper-root {
    padding: 0rem !important;
    margin-top: 3rem;
  }
  .dragItemGroup {
    display: inherit !important;
  }
  #Ebene_0 {
    transform: scale(1, 1);
    transition: 1s;

    &:hover {
      // transform: scale(1.5, 1.5);
    }
  }
  #Ebene_1 {
    transform: scale(1, 1);
    transition: 1s;

    &:hover {
      // transform: scale(1.5, 1.5);
    }
  }
  #countdown-svg {
    margin-top: 18rem;
  }
  #solveTask {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 18.4%;
    background-color: rgb(143, 176, 232);
    color: white;
  }
  .dragAnimation__ {
    max-height: 80vh !important;
  }
}

// Desktop
@media screen and (min-width: 1025px) {
  .workspace__container {
    width: 100%;
    margin-top: 60px;
    height: 100vh;
  }
  #NavigationButtonContainer {
    margin-top: 0.5rem;
    width: 40% !important;
    margin: 0 auto;
  }
  #prevButton {
  }

  #nextButton {
  }

  #workspaceStepper {
    margin-top: 60px;
  }
  #workspaceDescription {
    width: 10%;
    margin-top: 60px;
    margin-left: 5%;
    max-height: 700px;
    position: fixed;
  }
  #KeywordList {
    position: fixed;
    margin: 20% 0 0 5%;
  }
  #KeywordListBtn {
    margin-top: 10px;
    max-width: 230px;
  }
  #renderNavigationButtons {
    position: absolute;
    bottom: 15px;
    text-align: center;
  }
  #prevTaskBtn {
  }
  #solveTask {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 18.4%;
    background-color: rgb(143, 176, 232);
    color: white;
  }
  #Ebene_1 {
    transform: scale(1, 1);
    transition: 1s;

    &:hover {
      // transform: scale(1.5, 1.5);
    }
  }
}
