.outro-container {
  width: 100%;
  height: 100%;
}

.outro-header {
  width: 100%;
  height: 81px;
  background: #6A96E2 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
  border-radius: 44px;
  opacity: 1;
  padding-top: 28px;

}

.outro-title {
  height: 100%;

  font-weight: 900;
  font-size: 20px;
  line-height: 24px;

  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-left: 28px;
}

.quest-container {
  width: 802px;
  height: 401px;
  background: #6A96E2 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
  border-radius: 44px;
  opacity: 1;
  margin-top: 21px;
}

.quest-overview-container {
  display: flex;
  height: 100%;
}

.quest-overview-text-container {
  width: 50%;
  padding-left: 27px;
}

.quest-overview-text-title {
  height: 24px;
  
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;

  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-top: 28px;
}

.quest-overview-text-subtitle {
  height: 15px;

  font-style: italic;
  font-size: 12px;
  line-height: 15px;

  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.quest-overview-text {
  height: 391px;
  
  margin-top: 11px;
  
  font-size: 16px;
  line-height: 19px;
  
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.quest-overview-students-container {
  width:50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quest-overview-student-icon:hover {
  transform: rotate(20deg);
}

.student-icon-name {
  margin-top: -12px;

  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.student-icon {
  /* margin-right: 60px; */
  margin-bottom: 30px;
}

.student-icon-i {
  transition: transform .2s ease-in-out;
}

.student-icon-i:hover {
  transform: rotate(-15deg);
}

.outro-quest-container {
  padding-top: 29px;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 15px;
}

.outro-quest-question {
  font: normal normal bold 16px/19px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.outro-quest-answers {
  margin-top: 15px;
}

.outro-quest-answer {
  margin-top: 30px;
  display: flex;
}

.outro-quest-answer-checkbox {
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  opacity: 1;
}

.outro-quest-answer-label {
  font: normal normal normal 14px/17px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;

  margin-left: 26px;
}