.task-text {
  width: 100%;
  height: 339px;
  display: flex;
}

.page-left {
  width: 49%;
  height: 100%;
  margin-right: 38px;
}

.page-middle-line {
  width: 1px;
  height: 75%;
  margin-top: 4%;

  background-color: #dddddd;
  overflow: hidden;
}

.page-right {
  width: 50%;
  height: 100%;
  margin-left: 38px;
  margin-right: 24px;
}

.text {
  font-size: 16px;
  line-height: 19px;

  white-space: pre-line;

  hyphens: auto;

  display: flex;
  text-align: justify;

  > img {
    max-width: 350px;
  }
}

.task-text-navigation {
  height: 80px;
  width: 100%;
  display: flex;
}

.task-text-navigation-text {
  margin: auto;
  width: 10%;
}

.task-text-navigation-button {
  margin: auto;
  width: 52px;
  height: 23px;
  color: #ffffff;
  background: #6a96e2 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px #00000029;
  border: none;
  border-color: #ffffff29;
  border-radius: 44px;
}

.task-text-navigation-button-placeholder {
  width: 52px;
  height: 23px;

  margin: auto;
}
