#marker__klassenzimmer {
  display: none;
}

#marker__buero {
  display: none;
}

#marker__lehrendenzimmer {
  display: none;
}

#marker__buero__hover {
  cursor: pointer;
}

#marker__lehrendenzimmer__hover {
  cursor: pointer;
}

#marker__klassenzimmer__hover {
  cursor: pointer;
}
