.login__tags {
  display:inline-block;
  font-size:16px;
  bottom:15px;
  float: left;
  margin: 50px 0 0 4px;
}

.login__tagss {
  display: inline-block;
  font-size:16px;
  bottom:15px;
  float: right;
  margin: 50px 0 0 4px;
}

.login__credits {
  position: absolute;
  font-size:12px;
  bottom:15px;
  cursor: pointer;

}

.login__signupBack {
  position: absolute;
  font-size:12px;
  bottom: 50px;
  cursor: pointer;

}
