
.msixfive {
  margin-top: 50px;
}

.mten {
  margin-top: 10px;
}

.marginLeft {
  margin-left: 0 !important;
}

.minusMarginl {
  margin-left: -2em;
}
.minusMarginr {
  margin-right: -2em;
}

.1remright {
  margin-right: 1rem !important;
}

.marginNull{
  margin: 0 !important;
}

.marginTopNull {
margin-top: 0 !important;
}

.marginBottomNull{
  margin-bottom: 0 !important;
}

.margin__top__1{
  margin-top: 1em;

}
