.student__body {
  margin-top: 54px;
}
#SchoolOverview {
  margin-top: 54px;
}

#marker__zertifikate {
  display: none;
}

#marker__notizenUndDaten {
  display: none;
}

#marker__aktuellesLevel {
  display: none;
}

#marker__zurueck {
  display: none;
}

#marker__leveluebersicht {
  display: none;
}

#marker__aktuellesLevel__hover {
  cursor: pointer;
}

#marker__zurueck__hover {
  cursor: pointer;
}

#marker__leveluebersicht__hover {
  cursor: pointer;
}

#Marker_Lehrerzimmer {
  cursor: pointer;
}
#Marker_Büro {
  cursor: pointer;
}
