.student__body {
  height: 100vh;
  display: flex;
}

#marker__zertifikate {
  display: none;
}

#marker__notizenUndDaten {
  display: none;
}

#marker__aktuellesLevel {
  display: none;
}

#marker__zurueck {
  display: none;
}

#marker__umfragen {
  display: none;
}

#marker__lehrendenranking {
  display: none;
}

#marker__bibliothek {
  display: none;
}

#marker__leveluebersicht {
  display: none;
}

#marker__aktuellesLevel__hover {
  cursor: pointer;
}

#marker__zurueck__hover {
  cursor: pointer;
}

#marker__leveluebersicht__hover {
  cursor: pointer;
}

#Marker_Lehrerzimmer {
  cursor: pointer;
}
#Marker_Büro {
  cursor: pointer;
}


.roomSvg {
  width: 900px;

  display: block;
  margin: auto;
}

#SchoolOverview {
  width: 1200px;

  display: block;
  margin: auto;
}