.student__body {
  margin-top: 54px;
}
#SchoolOverview {
  margin-top: 54px;
}

#Marker_Klassenzimmer {
  cursor: pointer;
}
#Marker_Lehrerzimmer {
  cursor: pointer;
}
#Marker_Büro {
  cursor: pointer;
}
