#prevBtn {
  color: white;
  background-color: rgb(106, 150, 226) !important;
  margin-right: 2rem;
  padding: 1rem !important;
  border-radius: 5px;
}

#nextBtn {
  color: white;
  background-color: rgb(106, 150, 226) !important;
  margin-right: 2rem;
  padding: 1rem !important;
  border-radius: 5px;
}